/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}
.header-create{
    background: url(../image/scott-webb-slider.jpg);
    background-size:100%;
}
.top-menubar{
    margin-top: 45px;
    margin-bottom: 25px;
}
.navbar {
    background-color: transparent;
    border-color: transparent;
}
.fa-facebook , .fa-twitter ,.fa-youtube-play,.fa-vimeo-square{
    color: #474a4b;
}
.fa-linkedin{
    color: #ff3e67;
}
#top-header-right>li>a{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}
.title-bar h1{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    border: none;
}
.subtitle{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 62, 103);
    letter-spacing: 10px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
.title-bar{
    margin-bottom: 65px;
}
#main-menu-navbar>ul>li>a{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.submitBtn{
    margin-top:5px;
    background:#E7E7E7;
}

.submitBtn:hover{
    background:#DADADA;
}
.glyphicon-search,.fa-shopping-basket{
    color: #ff3e67 ;
}
.main-menu-bar{
    margin-bottom: 140px;
}
.menu-title-unlock{
    margin-bottom: 30px;
}
.menu-title-unlock h1{
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
.menu-title-unlock h1 span{
    color: #ff3e67;
}
.menu-title-unlock-content{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}
.menu-title-unlock-content p{
    margin-bottom: 12px;
}
#location{
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    color: rgb(255, 255, 255);
}
#time{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}
#phn{
    font-size: 36px;
    font-family: "Roboto Condensed",sans-serif;
    color: rgb(255, 255, 255);
}


.head-cntc{
    font-size: 18px;
    font-family: "Montserrat",sans-serif;
    color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.join-now-button {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}
.Button {
    background-color: #ff3e67;
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 7%;
    padding-left: 7%;
}
.top-content-menu{
    margin-bottom: 180px;
}
hr{
    background-color: rgb(255, 255, 255);
    opacity: 0.102;
    margin-bottom: 60px;
}
.contact-info{
    margin-left: 5%;
}
.contact-info-first{
    margin-bottom: 50px;
}
.main-content-first{
    background-color: #232324;
    background-size: cover;
}
.top-class-first,.our-trainer-content,.why-g-gym-after,.clint-say-first,.promo-style-2-first,.my-footer-index{
    margin-left: 5%;
    margin-right: 5%;
}
.my-footer{
    background-color: #1c1c1c;
    background-size: cover;
}
.my-footer-first{
    margin-top: 65px;
    margin-bottom: 15px;
}
.clint-say{
    background-color: #232324;
}
.ourtrainers{
    background-color: #131313;
}
.main-content-second{
    background-color: #ffffff;
}
.promo-style{
    margin-top: 63px;
    margin-bottom: 78px;
}
.group-training{
    background: url(../image/group-training.jpg);
    background-size: cover;
}
.individual-training{
    background: url(../image/individual.jpg);
    background-size: cover;
}
.yoga-pilates{
    background: url(../image/yoga.jpg);
    background-size: cover;
}
.body-building{
    background: url(../image/bodybuilding.jpg);
    background-size: cover;
}
.top-class-image{
    padding: inherit;
    background: no-repeat;
}
.top-class-content{
    font-size: 60px;
    font-family: "Montserrat",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    -moz-transform: matrix( 0.59322312101911,0,0,0.59439831490162,0,0);
    -webkit-transform: matrix( 0.59322312101911,0,0,0.59439831490162,0,0);
    -ms-transform: matrix( 0.59322312101911,0,0,0.59439831490162,0,0);
    padding-top: 180px;
    padding-bottom: 130px;
}
.top-class-content span{
    text-decoration: underline;
    text-decoration-color: #ff3e67;
}
.promo-style-content {
    font-size: 30px;
    font-family: "Montserrat",sans-serif;
    color: rgb(52, 53, 56);
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 8px;
}
.btn-default{
    background-color: #ff3e67;
    color: #ffffff;
    border-style: none;
}
.join-now{
    padding: 60px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}

.promo-style2-content {
    font-size: 30px;
    font-family: "Montserrat",sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 8px;
}
.our-trainer-content-first{
    margin-top: 80px;
    margin-bottom: 125px;
}
.our-trainer-title h1{
    font-size: 60px;
    font-family: "Montserrat",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #ff3e67;
}
.our-trainer-title{
    margin-bottom: 80px;
}
.yogatrainers{
    background: url(../image/traineryoga.jpg) no-repeat;
    background-size: cover;
    border: 1px solid transparent;
}
.bodybuilder{
    background: url(../image/bodybuilder-middl.jpg) no-repeat;
    background-size: cover;
    border: 1px solid transparent;
}
.john-smith{
    background: url(../image/johnsmith.jpg) no-repeat;
    background-size: cover;
    border: 1px solid transparent;
}
.descrip{
    background-color:  #ff3e67;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10%;
}
.descripicon{
    background-color:  #ff3e67;
    padding-top: 40px;
    padding-bottom: 36px;
    text-align: center;
    word-spacing: 12px;
}
.descripicon>ul>li>a>i{
    color: white;
}
.descripicon>ul{
    list-style-type: none;
}
.descrip h1{
    font-size: 28px;
    font-family: "Montserrat",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}
.descrip p{
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.traines-description{
    margin-top: 350px;
    margin-bottom: 0px;
}
a,a:hover{
    text-decoration: none;
}
.why-go-gym{
    background-color: #f5f5f5;
}
.why-g-gym-after{

}
.why-go-desc-c{
    background: url(../image/bgwhygm.png) ;
    background-size:cover;
}
.why-go-gym-title{
    margin-top: 100px;
    margin-bottom: 110px;
}
.why-go-gym-title h1{
    font-size: 60px;
    font-family: "Montserrat",sans-serif;
    color: rgb(52, 53, 56);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #ff3e67;
}
.why-go-description h1{
    font-size: 36px;
    font-family: "Montserrat",sans-serif;
    color: rgb(52, 53, 56);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}
.why-go-description{
    margin-bottom: 60px;
}
.why-go-description p{
    font-size: 18px;
    font-family: "Montserrat",sans-serif;
    color: rgb(138, 138, 138);
    margin-bottom: 20px;
}
.why-go-gym-image-content h1{
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    color: rgb(52, 53, 56);
    font-weight: bold;
    margin-bottom: 20px;
}
.media-after{
    padding-bottom: 60px;
}
.why-go-gym-image-content p{
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    color: rgb(138, 138, 138);
    margin-bottom: 20px;
}
.clint-say-first-index{
    margin-top: 90px;
    margin-bottom: 100px;
}
.clint-say-first-index h1{
    font-size: 60px;
    font-family: "Montserrat",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color:  #ff3e67;
    text-transform: uppercase;
}
.clint-say-first-content p{
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    color: rgb(255, 255, 255);
    font-style: italic;
    margin-bottom: 35px;
}
.clint-say-first-content hr{
    background-color: rgb(255, 255, 255);
    opacity: 0.102;
    margin-bottom: 10px;
}
.clint-say-first-content h1{
    font-size: 12px;
    font-family: "Montserrat",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 140px;
}
.promo-style-2{
    background: url(../image/scott-webb.jpg);
    background-size: cover;
}
.promo-style-2-descrip{
    margin-top: 160px;
    margin-bottom: 140px;
}
.gallery-image,.Useful-links-1{
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 45px;
}
.Useful-links-2{
    font-size: 11px;
    font-family: "Poppins",sans-serif;
    color: rgb(138, 138, 138);
    text-transform: uppercase;
}
td a{
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(138, 138, 138);
    text-transform: uppercase;
    margin-bottom: 15px;
}
td{
    padding: 5px;
}
.footer-logo{
    margin-top: 65px;
}
.gallery{
    margin-bottom: 70px;
}
.select1{
    color: #ff3e67;
}
@media (max-width: 600px) {
    .header-create{
        background: url(../image/scott-webb-slider.jpg) no-repeat;
        background-size:cover;
    }
    .menu-title-unlock h1{
        font-size: 30px;
    }
    .our-trainer-title h1{
        font-size: 35px;
    }
    .why-go-gym-title h1{
        font-size: 35px;
    }
    .why-go-description h1{
        font-size: 30px;
    }
    .top-class-content{
        font-size: 30px;
    }
}